html {
        scroll-behavior: smooth;
}

a, a:visited {
        color: #0000EE;
}

h1 {
        font-size: 42px;
        font-weight: bold;
        padding-bottom: 1em;
        font-family: 'Playfair Display', serif;
}

h1#bigtop img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 3em;
        width: 3em;
}

h2 {
        font-weight: bold;
        font-family: 'Playfair Display', serif;
}

h5 {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 20px;
        margin-top: 2.5em;
        margin-bottom: 0;
}

hr {
        /* border: 1px solid #ff69b4; */
        border: 1px double #FF69B4;
        margin: 2em 0;
}

sup {
        line-height: 0;
}

li {
        margin: 0.25em;
}

body {
        font-family: serif;
        font-size: 24px;
        color: #0c3660;
        background: #ffe9b4;
        letter-spacing: -0.015em;
        text-align: left;
        background-color: #ffe9b4;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='32' viewBox='0 0 16 32'%3E%3Cg fill='%23ff69b4' fill-opacity='0.08'%3E%3Cpath fill-rule='evenodd' d='M0 24h4v2H0v-2zm0 4h6v2H0v-2zm0-8h2v2H0v-2zM0 0h4v2H0V0zm0 4h2v2H0V4zm16 20h-6v2h6v-2zm0 4H8v2h8v-2zm0-8h-4v2h4v-2zm0-20h-6v2h6V0zm0 4h-4v2h4V4zm-2 12h2v2h-2v-2zm0-8h2v2h-2V8zM2 8h10v2H2V8zm0 8h10v2H2v-2zm-2-4h14v2H0v-2zm4-8h6v2H4V4zm0 16h6v2H4v-2zM6 0h2v2H6V0zm0 24h2v2H6v-2z'/%3E%3C/g%3E%3C/svg%3E");
}

.hi-lite {
        background-color: #ffdac1;
        padding-left: 0.125em;
        padding-right: 0.125em;
}

.hi-lite-alt, .hi-lite-alt2 {
        background-color: #cbfffa;
        padding-left: 0.125em;
        padding-right: 0.125em;
}

.hi-lite-alt2 {
        background-color: #ffe;
}

#content {
        width: 65%;
        margin: 0px auto;
        padding-top: 2em;
        text-align: center;
}

p, li {
        text-shadow: 0px 1px 1px #efefef;
        font-size: 24px;
}

p {
        line-height: 1.5;
        margin: 0 0 1em 0;
}

p sup a {
        font-size: smaller;
        text-decoration: none;
}

p sup a:hover {
        background-color: #bfeeb2;
}

p#bio {
        font-family: 'Playfair Display', serif;
        font-weight: normal;
        font-size: 32px;
}

p#bio-detail {
        font-size: 28px;
}

p a#footnote {
        font-size: smaller;
        text-decoration: none;
}

p a#footnote:hover {
        padding: 0.25em;
        background-color: #93BA0F;
}

p#disclaimer {
        font-size: 18px;
        font-style: italic;
        text-align: center;
}

p#buttons {
        text-align: center;
}

p#buttons button, button { 
        margin: 1.75em;
        min-width: 20em;
        color: #fffddd; 
        font-size: 18px;
        background-color: #398AB9; 
        transition: 0.5s; 
        border: .2vmax solid #E7E3E8; 
        padding: 1vmax 3vmax; 
        text-decoration: none; 
        border-radius: 101vmax; 
        cursor: pointer;
}

p#buttons button:hover, .vibe:hover, button:hover {
        color: #398AB9; 
        background-color: #F4D41E; 
        border: .2vmax solid #3BF4FB; 
        text-shadow: 0px 1px 1px #dfe65c;
}

.vibe {
        display: block;
        margin-left: auto;
        margin-right: auto;
        border: .2vmax solid #95FF86;
        background: linear-gradient(-60deg, #E1228DE8 0%, #F4DE2BAB 80%);
}

.vibe:hover {
        color: #674405; 
        text-shadow: none;
}

.deactivated {
        display: none;
}

.inactive {
        color: #c7cccf; 
        background-color: #82827e;
        filter: blur(2px);
}

div#loader img {
        width: 32px;
        height: 32px;
        display: none;
        animation:rotate 1s infinite;
        animation-timing-function: cubic-bezier(.25, .10);
}

@-webkit-keyframes rotate {
        from { -webkit-transform: rotate(0deg) } 
        to { -webkit-transform: rotate(360deg) } 
}

p#grid {
        width: 100%;
        text-align: center;   
}

p#grid img {
        display: block;
        width: auto;
        height: auto;
        margin: auto;
        margin-bottom: 1em;
        background: #fff;
        padding: 1em;
        border-style: solid;
        border-width: 15px;
        border-top-color: lighten(#000, 20%);
        border-right-color: lighten(#000, 0%);
        border-bottom-color: lighten(#000, 20%);
        border-left-color: lighten(#000, 0%);
        border: thick double #F4D41E;
}

p#grid img:hover {
        opacity: 0.75;
        filter: brightness(125%);
}

div#playagain {
        display: none;
}

p#footer {
        margin: 2em;
        font-size: 18px;
        text-align: center;
}

p#footer img {
        height: 32px;
        width: 32px;
}

#divider {
        display: block; 
        font-size: smaller; 
        font-style: italic;
        margin: 1em;
}

video {
        width: 256px;
        height: 256px;
        object-fit: cover;
        border: 5px;
        border-image: linear-gradient(to right, #04E762, #3BF4FB) 1;
}

/* From https://stackoverflow.com/questions/61334437/generating-an-animated-rainbow-border */
.rainbow {
        border: double 0.3em transparent;
        border-radius: 10px;
        
        /*added a colourstop here, without the third colourstop you get a hard edge*/
        background: linear-gradient(white, white), 
        repeating-linear-gradient(to right, rgb(82, 82, 209),rgb(235, 50, 235), rgb(82, 82, 209));
        background-origin: border-box;
        background-clip: content-box, border-box;

        animation-name: rainbow;
        animation-duration:  6s;

        /*set animation to continue forever, and to move at a single rate instead of easing*/
        animation-iteration-count: infinite;
        animation-timing-function: linear;
}

/*animate the background gradient position, use vh so that start/end syncs up viewport horizontal*/
@keyframes rainbow {
        from {background-position: -100vh 0}
        to {background-position: 100vh 0}
} 

/*compatibility*/
@-moz-keyframes rainbow {
        from {background-position: -100vh 0}
        to {background-position: 100vh 0}
}
@-webkit-keyframes rainbow {
        from {background-position: -100vh 0}
        to {background-position: 100vh 0}
}
@-ms-keyframes rainbow {
        from {background-position: -100vh 0}
        to {background-position: 100vh 0}
}
@-o-keyframes rainbow {
        from {background-position: -100vh 0}
        to {background-position: 100vh 0}
}

.cameraswitcher {
        display: block;
        font-size: 14px;
        font-style: italic;
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 390px) {
        h1 { font-size: 34px; }
        h5 { font-size: 16px; }
        body { font-size: 22px; }
        p, li { font-size: 22px; }
        p#bio { font-size: 28px; }
        p#bio-detail { font-size: 24px; }
        p#footer { font-size: 14px; }
        #content { width: 85%; }
        #divider { text-align: center; }
        #loader { display: block; }
        p#buttons button, button { min-width: auto; }
        p#grid img { padding: 0px; }
}